<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.hallabong.tour.mapper.TourAttachMapper">

	<select id="findByNo" resultType="com.hallabong.tour.vo.TourAttachVO">
		<![CDATA[
		select * from tour_attach where no = #{no}
		]]>
	</select>
	
	<!-- 어제 지워지지 않은 파일을 지우기 위한 자료 목록 -->
	<select id="getOldFiles" resultType="com.hallabong.tour.vo.TourAttachVO">
		<![CDATA[
		select * from tour_attach where uploadPath = to_char(sysdate - 1, 'yyyy\mm\dd')
		]]>
	</select>

	<insert id="insert">
		insert into tour_attach(uuid, uploadPath, fileName, fileType, no)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{no})
	</insert>

	<delete id="delete">
		delete from tour_attach
		where uuid = #{uuid}
	</delete>

</mapper>