<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hallabong.tour.mapper.TourMapper">

	<!-- 관광명소 게시판 리스트 -->
	<select id="list" resultType="com.hallabong.tour.vo.TourVO">
		select no, area, theme, areaName, themeName, name, thumbnail, likeCnt
		from(
			select rownum rnum, no, area, theme, areaName, themeName, name, thumbnail, likeCnt
			from(
				SELECT t.no, t.area, t.theme, ta.areaName, tt.themeName, t.name, t.thumbnail,
		        (SELECT count(*) FROM tourLike where t.no = tourLike.no)likeCnt
		        FROM tour t, tourArea ta, tourTheme tt
		        WHERE <include refid="search" />
		        t.area = ta.no AND t.theme = tt.no
				order by no desc
			)
		) where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터 개수 -->
	<select id="getTotalRow" resultType="long">
		select count(t.no) FROM tour t, tourArea ta, tourTheme tt
		WHERE <include refid="search" />
		t.area = ta.no AND t.theme = tt.no
	</select>
	
	<!-- 게시판 검색 -->
	<sql id="search">
		<trim prefix="(" suffix=") and" prefixOverrides="and">
			<!-- <if test="word != null and word != ''"> -->
				<if test="area != null and area != ''">
					and t.area like ${"'%" + area + "%'"}
				</if>
				<if test="theme != null and theme != ''">
					and t.theme like ${"'%" + theme + "%'"}
				</if>
				<if test="word != null and word != ''">
					and t.name like ${"'%" + word + "%'"}
				</if>
			<!-- </if> -->
		</trim>
	</sql>
	
	<!-- 관광명소 게시판 글보기 -->
	<select id="view" resultType="com.hallabong.tour.vo.TourVO">
		select t.no, m.id, t.area, t.theme, ta.areaName, tt.themeName, t.name, t.thumbnail, t.address, t.content, t.tel, t.hours, t.roadMap,
		(SELECT 'LIKED' FROM tourLike where t.no = tourLike.no and t.id = m.id) likeNo,
		(SELECT count(*) FROM tourLike where t.no = tourLike.no) likeCnt
		from tour t, tourArea ta, tourTheme tt, member m
		WHERE (t.no = #{no}) and (t.area = ta.no AND t.theme = tt.no AND t.id = m.id)
	</select>
	
	<!-- 관광명소 게시판 글작성 -->
	<insert id="write">
		INSERT INTO tour(no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap)
		VALUES(tour_seq.nextval, #{id}, #{area}, #{theme}, #{name}, #{thumbnail},
		#{address}, #{content}, #{tel}, #{hours}, #{roadMap})
	</insert>
	
	<insert id="writeSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			select tour_seq.nextval from dual
		</selectKey>
		
		INSERT INTO tour(no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap)
		VALUES(#{no}, #{id}, #{area}, #{theme}, #{name}, #{thumbnail},
		#{address}, #{content}, #{tel}, #{hours}, #{roadMap})
	</insert>
	
	<!-- 관광명소 게시판 글수정 -->
	<update id="update">
		update tour set area = #{area}, theme = #{theme}, name = #{name},
			thumbnail = #{thumbnail}, address = #{address}, content = #{content},
			tel = #{tel}, hours = #{hours}, roadMap = #{roadMap}
		WHERE no = #{no}
	</update>
	
	<!-- 관광명소 게시판 글삭제 -->
	<delete id="delete">
		delete from tour
		where no = #{no}
	</delete>
	
	<!-- 관광명소 좋아요 -->
	<insert id="like">
		insert into tourLike(id, no)
		values (#{id}, #{no})
	</insert>

	<!-- 관광명소 좋아요 취소 -->
	<delete id="unlike">
		delete from tourLike
		where id = #{id} and no = #{no}
	</delete>
	
</mapper>